@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practico 01</h1>
    <p class="lead">Josué Samuel Rodríguez Tobiías</p><br />
    <p class="lead">Wilmer Alfredo Melchor</p><br />
    <p class="lead">Desarrollo de Software Empresarial</p>
</div>

